@charset 'utf-8';

@import url('todomvc-app-css/index.css');
@import url('todomvc-common/base.css');

#snackbar {
  visibility: hidden;
  min-width: 480px;
  min-height: 30px;
  max-width: 90vw;
  background-color: #C44B4B;
  color: #fff;
  padding: 16px;
  position: fixed;
  z-index: 1;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from { top: 0; opacity: 0; }
  to { top: 35px; opacity: 1; }
}

@keyframes fadein {
  from { top: 0; opacity: 0; }
  to { top: 35px; opacity: 1; }
}

@-webkit-keyframes fadeout {
  from { top: 35px; opacity: 1; }
  to { top: 0; opacity: 0; }
}

@keyframes fadeout {
  from { top: 35px; opacity: 1; }
  to { top: 0; opacity: 0; }
}

.user-session-container {
  display: none;
  padding: 6px 8px;
  background: rgba(0, 0, 0, 0.003);
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}

.login-guide {
  text-align: center;
  font-size: 1.1em;
}

.login-guide a {
  color: rgba(175, 47, 47, 0.58);
}

.user-profile p {
  font-size: 1.1em;
  margin-left: 55px;
}

.user-profile img {
  position: absolute;
  margin-top: -10px;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.user-profile .settings {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 3px;
  padding-right: 8px;
}

.user-profile .settings button {
  border: none;
  cursor: pointer;
}

.user-profile .settings .buttons {
  display: none;
  position: absolute;
  right: 0;
  margin-right: 6px;
  padding: 4px 4px;
  min-width: 150px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  text-align: right;
  z-index: 1;
}

.user-profile .settings:hover .buttons {
  display: block;
}

.user-profile .settings .buttons a {
  color: #4d4d4d;
  font-size: 0.9em;
  line-height: 18px;
  text-decoration: none;
  display: block;
  padding: 2px 4px;
}

.user-profile .settings .buttons a:hover {
  font-weight: 400;
}

.footer {
  height: 52px;
}

.footer>div:last-child {
  margin-top: 26px;
  border-top: 1px dotted #f1f1f1;
}

.user-count {
  margin-top: 6px;
  float: left;
  text-align: left;
}

.user-count strong {
  font-weight: 300;
}

.download-todos:hover {
  text-decoration: underline;
}

.download-todos, html .download-todos:active {
  margin-top: 6px;
  float: right;
  position: relative;
  line-height: 19px;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 430px) {
  .footer {
    height: 84px;
  }

  .footer>div:last-child {
    margin-top: 24px;
  }

  .filters {
    bottom: 10px;
  }
}
